{% extends 'main/index.html' %}
{% block title %}
Home
{% endblock %}


{% block content %}

<style>
    table thead {
        background-color: lightblue;
    }

    .table-responsive {
        width: 1200px;
    }
</style>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Dashboard</h1>
</div>

<div class="col-8 m-auto pt-3 pb-2 text-center">
    <span>Filtrar por:</span>
    <select name="filter" id="filter" class="form-control">
        <option value="">Escolha uma opção...</option>
        <option value="done">Concluídas</option>
        <option value="doing">Não Realizadas</option>
    </select>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Data da Visita</th>
                <th scope="col">Horário da Visita</th>
                <th scope="col">Endereço</th>
                <th scope="col">Contato</th>
                <th scope="col">status</th>

        </thead>

        {% for list in databaseOS %}


        <tr>
            <th>{{list.id}}</th>
            <td>{{list.visit_date}}</td>
            <td>{{list.visit_hour}}</td>
            <td>{{list.address}}</td>
            <td>{{list.contact}}</td>
            <td>{{list.status}}Não realizado</td>


            <td>
                {% if list.status == 'doing' %}
                <li class="task-item">
                    {% else %}
                <li class="task-item done">
                    {% endif %}
                    <a href="/deleteOS/{{list.id}}/"><i class="fas fa-check"></i></a>

            </td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}