<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Cadastrar Ordem de Serviço</h1>
</div>

<body>
    <div class="col-2 m-auto pt-6 pb-2 text-center">
        <form name="formOS" id="formOS" action="{% if database %}/updateOS/{{database.id}}/{%else%}/createOS/{% endif %}"
            method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Cpf do Cliente {{formOS.cpf_client}}</div>
            <div class="form-group mt-4">Data da Visita {{formOS.visit_date}}</div>
            <div class="form-group mt-4">Horário da Visita {{formOS.visit_hour}}</div>
            <div class="form-group mt-4">Descreva o Problema {{formOS.visit_reason}}</div>
            <div class="form-group mt-4">Técnico {{formOS.technician_name}}</div>
            <a href="/" class="btn btn-dark">Cancel</a>

            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>

</body>

</html>